doctype html
html(ng-app='music-manager')
    head
        title Pure Vernunft
        != js('id3-minimized')
        != js('jquery-1.11.1.min')
        != js('angular')
        != js('angular-file-upload')
        != js('controllers')
    body
        block content