doctype html
html
    head
        title Pure Vernunft verlangt Authentifizierung
    body
        a(href="/auth/google") Mit Google authentifizieren.
        .hint Google erfährt lediglich, dass Sie sich auf dieser Seite authentifizieren wollen. Wir erfahren lediglich Ihren dort hinterlegten Nutzernamen, Realnamen, E-Mail und ID.